SERVER_PORT=61206

SECRET=MySecretPassphrase1234567890abcABCEFGefg
NONCE_LENGTH=8

ADMIN_NAME=Administrator
ADMIN_EMAIL=mail@example.com
ADMIN_PASSWORD=demo123@

TG_BOT_API_BASE_URL=https://api.telegram.org/bot856123demo

NOWPAYMENTS_API_KEY=BEGC123-ABCMF37-123MF32-123818W
IPN_CALLBACK_URL=https://ipncallback.com